  .LoginForm-h1 {
    color: blueviolet;
    margin-top: 10%;
  }

  .LoginForm-table {
    background: linear-gradient(to right, blueviolet, white);
    width: 100%; 
    height: 100%;
  }

  .LoginForm-table > tr > td > label{
    font-weight: bold;    
    margin-left: 10px;
    margin-right: 5px;    
    color: white;
  }

  .LoginForm-table > tr > td{
    text-align: right;
    width: 30%;
  }

  .LoginForm-table > tr > td > input{
    width: 97%;
    padding-left: 0px;
    padding-right: 0px;
  }

  .LoginForm-table > tr > td > button{
    height: 30px;
    font-weight: bold;
  }

  .LoginForm-tr-special{
    height: 50px;
  }

